<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Geek-Shop Think NERD</title>
    <link rel="stylesheet" media="screen,projection" type="text/css" href="resources/css/main.css"/>
    <link rel="stylesheet" media="screen,projection" type="text/css" href="resources/css/scheme.css"/>
    <link rel="stylesheet" media="print" type="text/css" href="resources/css/print.css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="resources/js/selectAll.js"></script>
</head>

<body>

<div id="main">

    <!-- Header -->
    <div th:replace="header :: #header"></div>

    <!-- Navigation -->
    <div th:replace="navigation :: nav ('staff')"></div>

    <div id="cols" class="box">

        <!-- Content -->
        <div id="content">

            <h3 id="content-title">Nutzer anlegen</h3>

            <div id="content-in">

                <form method="post" id="form" action="/addemployee">
                    <table class="table-style01">
                        <tr>
                            <th class="t-left">
                                <p>
                                    <label for="username">Benutzername:</label>
                                    <input name="username" id="username" type="text" size="30" maxlength="30"
                                           required="required"/>
                                </p>

                                <p>
                                    <label for="mail">E-Mail:</label>
                                    <input name="mail" id="mail" type="text" size="30" maxlength="30"
                                           required="required"/>
                                </p>

                                <p>
                                    <label for="firstname">Vorname:</label><br/>
                                    <input name="firstname" id="firstname" type="text" size="30" maxlength="30"
                                           required="required"/>
                                </p>

                                <p>
                                    <label for="lastname">Nachname:</label><br/>
                                    <input name="lastname" id="lastname" type="text" size="30" maxlength="40"
                                           required="required"/>
                                </p>

                                <p>
                                    <label for="m">männlich</label>
                                    <input type="radio" name="gender" id="m" value="m" checked="checked"/>&nbsp;
                                    <label for="f">weiblich</label>
                                    <input type="radio" name="gender" id="f" value="f"/>
                                    <label for="s_e">etwas anderes</label>
                                    <input type="radio" name="gender" id="s_e" value="s_e"/>
                                </p>

                                <p>
                                    <label for="birthday">Geburtsdatum:</label><br/>
                                    <input type="text" name="birthday" id="birthday"
                                           pattern="^(31|30|[012][1-9]|[1-9])\.(0[1-9]|1[012]|[1-9])\.((18|19|20)\d{2}|\d{2})$"/>
                                </p>

                                <p>
                                    <label for="maritalStatus">Familienzustand:</label><br/>
                                    <select name="maritalStatus" id="maritalStatus">
                                        <option value="UNMARRIED">ledig</option>
                                        <option value="MARRIED">verheiratet</option>
                                        <option value="WIDOWED">verwitwet</option>
                                        <option value="SEPARATED">dauernd getrennt lebend</option>
                                        <option value="DIVORCED">geschieden</option>
                                        <option value="PARTNERED">verpartnert</option>
                                        <option value="NO_MORE_PARTNERED">entpartnert</option>
                                        <option value="PARTNER_LEFT_BEHIND">Partner hinterbliebend</option>
                                        <option value="UNKNOWN">5046 1 |\|@</option>
                                    </select>
                                </p>
                                <p>
                                    <label for="phone">Telefonnummer:</label><br/>
                                    <input name="phone" id="phone" type="text" size="30" maxlength="13"
                                           required="required"/>
                                </p>
                            </th>

                            <th class="t-left">
                                <p>
                                    <label for="street">Strasse:</label><br/>
                                    <input name="street" id="street" type="text" size="15" maxlength="40"
                                           required="required"/>
                                </p>

                                <p>
                                    <label for="houseNr">Hausnummer:</label><br/>
                                    <input name="houseNr" id="houseNr" type="text" size="15" maxlength="40"
                                           required="required"/>
                                </p>

                                <p>
                                    <label for="postcode">PLZ:</label><br/>
                                    <input name="postcode" id="postcode" type="text" size="7" maxlength="40"
                                           required="required"/>
                                </p>

                                <p>
                                    <label for="place">Ort:</label><br/>
                                    <input name="place" id="place" type="text" size="15" maxlength="40"
                                           required="required"/>
                                </p>

                                <p>
                                    <button type="submit" name="submit" class="myButton"
                                            th:value="#{addemployee.add.submit}"
                                            value="Passwort ändern">Nutzer anlegen
                                    </button>
                                </p>


                            </th>

                        </tr>
                    </table>
                </form>

            </div>

        </div>
        <!-- /content -->

        <hr class="noscreen"/>


    </div>
    <!-- /cols -->

    <div id="cols-bottom"></div>

    <hr class="noscreen"/>

    <!-- Footer -->
    <!--<div id="footer">


    </div>-->
    <!-- /footer -->

</div>
<!-- /main -->

</body>
</html>
