<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Geek-Shop Think NERD</title>
    <link th:replace="header :: main-css"/>
    <link th:replace="header :: scheme-css"/>
    <link th:replace="header :: print-css"/>
</head>

<body>

<div id="main">

    <!-- Header -->
    <div th:replace="header :: #header"></div>

    <!-- Navigation -->
    <div id="nav">
        <ul class="box">
            <li id="nav-active"><a href="#" style="width:150px">Passwort anpassen</a></li>
            <li><a href="logoff" style="width:70px">Logout</a></li>
        </ul>

        <hr class="noscreen"/>
    </div>

    <!-- 2 columns (content + sidebar) -->
    <div id="cols" class="box">

        <!-- Content -->
        <div id="content">

            <h3 id="content-title">Passwort den Sicherheitsregeln anpassen</h3>

            <div id="content-in">

                <p>
                    Die Sicherheitsregeln für Passwörter wurden geändert. Daher ist eine Anpassung des Passwortes an die
                    aktuellen Regeln erforderlich.
                </p>

                <p>
                    Folgendes ist bei der Passwortwahl zu beachten:
                </p>

                <ul class="ul-style01">
                    <li th:if="${passwordRules.areUpperAndLowerNecessary()}">Es müssen <strong>Groß- und Kleinbuchstaben</strong>
                        vorkommen.
                    </li>
                    <li th:if="${!passwordRules.areUpperAndLowerNecessary()}">Es müssen <strong>Buchstaben</strong> vorkommen.
                    </li>
                    <li th:if="${passwordRules.areDigitsNecessary()}">Es müssen <strong>Ziffern</strong> verwendet werden.</li>
                    <li th:if="${passwordRules.areSpecialCharactersNecessary()}">Es müssen <strong>Sonderzeichen</strong> enthalten
                        sein.
                    </li>
                    <li>
                        Das Passwort muss <strong th:text="'mindestens ' + ${passwordRules.minLength} + ' Zeichen'">mindestens ein Zeichen</strong> umfassen.
                    </li>
                </ul>

                <form method="post" action="/adjustpw">
                    <table class="table-style01 t-left noborder">
                        <tr>
                            <td style="width:30%"><label for="newPW">Neues Passwort:</label></td>
                            <td>
                                <input name="newPW" id="newPW" type="password" placeholder="Neues Passwort" required="required"/></td>
                        </tr>
                        <tr>
                            <td><label for="retypePW">Neues Passwort wiederholen:</label></td>
                            <td><input name="retypePW" id="retypePW" type="password"
                                       placeholder="Neues Passwort wiederholen" required="required"/></td>
                        </tr>
                    </table>

                    <p>
                        <button type="submit" name="submit" class="myButton" th:value="#{profil.changePW.submit}"
                                value="Passwort ändern">Passwort ändern
                        </button>
                    </p>
                </form>

            </div>
            <!-- /content-in -->

            <hr class="noscreen"/>


        </div>
        <!-- /content -->

        <hr class="noscreen"/>


    </div>
    <!-- /cols -->

    <div id="cols-bottom"></div>

    <hr class="noscreen"/>

    <!-- Footer -->
    <!--<div id="footer">


    </div>-->
    <!-- /footer -->

</div>
<!-- /main -->


</body>
</html>
