<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Geek-Shop Think NERD</title>
    <link rel="stylesheet" media="screen,projection" type="text/css" href="../resources/css/main.css"/>
    <link rel="stylesheet" media="screen,projection" type="text/css" href="../resources/css/scheme.css"/>
    <link rel="stylesheet" media="print" type="text/css" href="../resources/css/print.css"/>
    <link rel="stylesheet" media="print" type="text/css" href="../resources/css/tree.css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="../resources/js/selectAll.js"></script>
</head>

<body>

<div id="main">

    <!-- Header -->
    <div th:replace="header :: #header"></div>

    <!-- Navigation -->
    <div th:replace="navigation :: nav ('cart')"></div>

    <!-- 2 columns (content + sidebar) -->
    <div id="cols" class="box">

        <!-- Content -->
        <div id="content">

            <h3 id="content-title">Warenkorb</h3>

            <div id="content-in">

               <!-- <div th:unless="${cart.empty}"> funktioniert,später wieder zum Code!  -->
                <table class="table-style01 alternatRows">
                    <thead>
                    <tr>
                      <!--  <th><input type="checkbox" id="selectAll"/></th>-->
                        <th scope="col">Produkt</th>
                        <th scope="col">Anzahl</th>
                        <th scope="col">Preis</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody th:remove="all-but-first">
                   <!-- <tr th:each="orderline : ${cart}">

                   <td th:text="${orderline.productName}">FujiFilm FinePix F100fd</td>
                        <td><input type="number" value="2" min="1" max=""/></td>
                        <td th:text="${orderline.price}">209,19 EUR</td>
                        <td>
                            <form th:method="delete" th:action="@{/cart/} + ${orderline.identifier}"
                                  th:attr="data-entry-id=${orderline.identifier}">
                                <button class="myButton" style="margin-left: 1%">Löschen</button>
                            </form></td>
                    </tr> -->

                   <tr>
                       <!-- <td align="center"><input type="checkbox" class="case" name="case[]" value="1"/></td>-->
                        <td>FujiFilm FinePix F100fd</td>
                        <td><input type="number" value="2" min="1" max=""/></td>
                        <td>209,19 EUR</td>
                        <td>

                                <button class="myButton" style="margin-left: 1%">Löschen</button>
                            </td>
                    </tr>

                    </tbody>

                    <tfoot>
                    <tr>
                        <td colspan="3" class="t-right">Summe Warenkorb:</td>
                        <td th:text="${cart.price}">269,47 EUR</td>
                    </tr>
                    </tfoot>
                </table>

                <button id="delete" class="myButton" style="margin-left: 1%">Löschen</button>
                <form th:action="@{/checkout}" style="display: inline-block">
                    <button id="checkout" class="myButton" type="submit">zur Kasse
                    </button>
                </form>
           <!-- </div> vom cart.empty-->
            <!--  th:unless="${cart.empty}"-->

             <!--   <p th:if="${cart.empty}">Warenkorb ist leer.</p> -->  <!--funktioniert, später wieder zum Code-->

            <hr class="noscreen"/>


        </div>
        <!-- /content-in -->

        <hr class="noscreen"/>


    </div>
    <!-- /content -->



    <hr class="noscreen"/>

</div>

</div>
<!-- /main -->


</body>
</html>
