<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Geek-Shop Think NERD</title>
    <link rel="stylesheet" media="screen,projection" type="text/css" href="resources/css/main.css"/>
    <link rel="stylesheet" media="screen,projection" type="text/css" href="resources/css/scheme.css"/>
    <link rel="stylesheet" media="print" type="text/css" href="resources/css/print.css"/>
    <link rel="stylesheet" media="print" type="text/css" href="resources/css/tree.css"/>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".expand").click(function (e) {
                $(this).toggleClass("expanded");
                $(this).children("ul:first").slideToggle("300");
                e.stopPropagation();
            });
        }); //$(document).ready
    </script>
</head>

<body>

<div id="main">

    <!-- Header -->
    <div th:replace="header :: #header"></div>

    <!-- Navigation -->
    <div th:replace="navigation :: nav ('catalog')"></div>

    <!-- 2 columns (content + sidebar) -->
    <div id="cols" class="box">

        <!-- Content -->
        <div id="content">

            <h3 id="content-title">Artikelsuche</h3>

            <div id="content-in">

                <div style="width: 195px; border: 4px solid #02AAFC; border-radius: 6px;
                float:left; height: 100%; padding-left: 10px;">
                <ul class="ul-style01">

                    <li class="expand expanded" style="cursor:pointer"><h5>Kleidung für Nerds</h5>
                        <ul style="display: none; cursor:pointer">
                            <li >T-Shirts</li>
                            <li>Pullis</li>
                        </ul>
                    </li>

                    <li class="expand expanded" style="cursor:pointer"><h5>Gadgets</h5>
                        <ul style="display: none; cursor:pointer">
                            <li >für Android</li>
                            <li>für IOS</li>
                        </ul>
                    </li>

                </ul>
                </div>


                <div style="width: 620px;
                float:right; height: 100%; padding-left: 10px;">


                    <input name="suchen" id="suchen" type="text" size="15" maxlength="40" required="required"/>
                    <button>suchen</button>

                    <label>sortieren nach</label>
                    <select name="sortieren" id="sortieren">
                        <option selected="selected">Name</option>
                        <option>Preis aufsteigend</option>
                        <option>Preis absteigend</option>
                        <option>Artikelnummer</option>
                    </select>

                    <table class="table-style01 alternatRows">
                        <tr>

                            <th scope="col">Produkt</th>
                            <th scope="col"> Verfügbare Anzahl</th>
                            <th scope="col"> zu Warenkorb</th>

                        </tr>
                        <tr>


                            <td><a href="#">Digitalkamera</a></td>
                            <td><input type="number" value="7" min="1"/></td>
                            <td><button> + </button></td>

                        </tr>
                    </table>
                 </div>



            </div>  <!--/content-in -->

        </div>
        <!-- /content -->

        <hr class="noscreen"/>


    </div>
    <!-- /cols -->

    <div id="cols-bottom"></div>

    <hr class="noscreen"/>

    <!-- Footer -->
    <!--<div id="footer">

    </div>-->
    <!-- /footer -->

</div>
<!-- /main -->


</body>
</html>
