<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Geek-Shop Think NERD</title>
    <link th:replace="header :: main-css"/>
    <link th:replace="header :: scheme-css"/>
    <link th:replace="header :: print-css"/>
    <link th:replace="header :: tree-css"/>
    <script th:replace="header :: jquery-js"></script>
    <!--<script th:replace="header :: selectAll-js"></script>-->
    <script>
        function process_select(sel, id) {
            $('#' + 'Barzahlung' + '_' + id).hide();
            $('#' + 'Kreditkarte' + '_' + id).hide();
            $('#' + 'Lastschriftverfahren' + '_' + id).hide();
            $('#' + sel.value + '_' + id).show();
        }
    </script>
</head>

<body>

<div id="main">

    <!-- Header -->
    <div th:replace="header :: #header"></div>

    <!-- Navigation -->
    <div th:replace="navigation :: nav ('cart')"></div>

    <!-- 2 columns (content + sidebar) -->
    <div id="cols" class="box">

        <!-- Content -->
        <div id="content">

            <h3 id="content-title">Kasse</h3>

            <div id="content-in">
                <h4>Übersicht</h4>

                <table class="table-style01 alternatRows">
                    <thead>
                    <tr>

                        <th scope="col">Produkt</th>
                        <th scope="col">Anzahl</th>
                        <th scope="col">Preis</th>
                    </tr>
                    </thead>
                    <tbody th:remove="all-but-first">
                    <tr th:each="cartitem : ${cart}">

                        <td th:text="${cartitem.productName}">FujiFilm FinePix F100fd</td>
                        <td th:text="${cartitem.quantity}">42</td>
                        <td th:text="${cartitem.price}">209,19 EUR</td>
                    </tr>
                    </tbody>

                    <tfoot>
                    <tr>
                        <td colspan="2" class="t-right">Gesamt:</td>
                        <td th:text="${cart.price}">269,47 EUR</td>
                    </tr>
                    </tfoot>
                </table>

                <label for="paymentMethod">Zahlmethode:</label><br/>
                <select name="paymentMethod" id="paymentMethod" onchange="process_select(this,1)">
                    <option value="Barzahlung">Bahrzahlung</option>
                    <option value="Kreditkarte">Kreditkarte</option>
                    <option value="Lastschriftverfahren">Lastschriftverfahren</option>
                </select> <br/><br/>

                <div id="Barzahlung_1">Sie haben Die Zahlmethode Barzahlung gewählt</div>


                <div id="Kreditkarte_1" style="display:none">
                    <div>Sie haben die Zahlmethode Kreditkarte gewählt.</div>
                    <div><p>
                        <label for="cardname">Card name:</label><br/>
                        <input name="cardname" id="cardname" type="text" size="30" maxlength="30"
                               required="required"/>
                    </p>

                        <p>
                            <label for="cardassociationname">Card association name:</label><br/>
                            <input name="cardassociationname" id="cardassociationname" type="text" size="30"
                                   maxlength="30"
                                   required="required"/>
                        </p>

                        <p>
                            <label for="cardnumber">Card number:</label><br/>
                            <input name="cardnumber" id="cardnumber" type="text" size="30" maxlength="30"
                                   required="required"/>
                        </p>

                        <p>
                            <label for="nameoncard">Name on card:</label><br/>
                            <input name="nameoncard" id="nameoncard" type="text" size="30" maxlength="30"
                                   required="required"/>
                        </p>

                        <p>
                            <label for="billingadress">Billing adress:</label><br/>
                            <input name="billingadress" id="billingadress" type="text" size="30" maxlength="30"
                                   required="required"/>
                        </p>

                        <p>
                            <label for="validfrom">Valid from:</label><br/>
                            <input name="validfrom" id="validfrom" type="text" size="30" maxlength="30"
                                   required="required"/>
                        </p>

                        <p>
                            <label for="expirydate">Expiry date:</label><br/>
                            <input name="expirydate" id="expirydate" type="text" size="30" maxlength="30"
                                   required="required"/>
                        </p>

                        <p>
                            <label for="cardverificationcode">Card verification code:</label><br/>
                            <input name="cardverificationcode" id="cardverificationcode" type="text" size="30"
                                   maxlength="30"
                                   required="required"/>
                        </p>

                        <p>
                            <label for="dailywithdrawallimit">Daily withdrawal limit:</label><br/>
                            <input name="dailywithdrawallimit" id="dailywithdrawallimit" type="number" size="30"
                                   maxlength="30"
                                   required="required"/>
                        </p>

                        <p>
                            <label for="creditlimit">name on card:</label><br/>
                            <input name="creditlimit" id="creditlimit" type="number" size="30" maxlength="30"
                                   required="required"/>
                        </p>

                    </div>
                    <br/>
                </div>


                <div id="Lastschriftverfahren_1" style="display:none">
                    <div>Sie haben die Zahlmethode Lastschriftverfahren gewählt.</div>
                    <div>

                        <p>
                            <label for="accoutname">Account name:</label><br/>
                            <input name="accountname" id="accoutname" type="text" size="30" maxlength="30"
                                   required="required"/>
                        </p>

                        <p>
                            <label for="accountnumber">Account number:</label><br/>
                            <input name="accountnumber" id="accountnumber" type="text" size="30" maxlength="30"
                                   required="required"/>
                        </p>

                        <p>
                            <label for="chequenumber">Cheque number:</label><br/>
                            <input name="chequenumber" id="chequenumber" type="text" size="30" maxlength="30"
                                   required="required"/>
                        </p>

                        <p>
                            <label for="payee">Payee:</label><br/>
                            <input name="payee" id="payee" type="text" size="30" maxlength="30"
                                   required="required"/>
                        </p>

                        <p>
                            <label for="datewritten">Date Written:</label><br/>
                            <input name="datewritten" id="datewritten" type="text" size="30" maxlength="30"
                                   required="required"/>
                        </p>

                        <p>
                            <label for="bankname">Bank name:</label><br/>
                            <input name="bankname" id="bankname" type="text" size="30" maxlength="30"
                                   required="required"/>
                        </p>

                        <p>
                            <label for="bankaddress">Bank address:</label><br/>
                            <input name="bankaddress" id="bankaddress" type="text" size="30" maxlength="30"
                                   required="required"/>
                        </p>

                        <p>
                            <label for="bankidentificationnumber">Bank identification number:</label><br/>
                            <input name="bankidentificationnumber" id="bankidentificationnumber" type="text" size="30"
                                   maxlength="30"
                                   required="required"/>
                        </p>

                    </div>
                    <br/>
                </div>


                <form id="buyit" th:action="@{/checkout}" style="display: inline-block; float: left">
                    <input type="submit" class="myButton" value="kaufen" id="buy" onclick="alert('Gekauft! Sie haben 14 Tage Widerufsrecht.'); this.disabled=true;
                    document.getElementById('printit').disabled=false;" style="margin-left: 1%"/>
                </form>
                <form id="printthis" style=" margin-left: 1%;">
                    <input type="button" id="printit" value="drucken"
                           onclick="window.print()" disabled="true" class="myButton"/>
                </form>


            </div>

            <hr class="noscreen"/>


        </div>
        <!-- /content -->

        <hr class="noscreen"/>


    </div>
    <!-- /cols -->


    <hr class="noscreen"/>


</div>
<!-- /main -->


</body>
</html>