<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Geek-Shop Think NERD</title>
    <link th:replace="header :: main-css"/>
    <link th:replace="header :: scheme-css"/>
    <link th:replace="header :: print-css"/>
    <link th:replace="header :: tree-css"/>
    <script th:replace="header :: jquery-js"></script>
    <!--<script th:replace="header :: selectAll-js"></script>-->
    <script>
        function process_select(sel, id) {
            $('#' + 'Barzahlung' + '_' + id).hide();
            $('#' + 'Kreditkarte' + '_' + id).hide();
            $('#' + 'Lastschriftverfahren' + '_' + id).hide();
            $('#' + sel.value + '_' + id).show();
        }
    </script>
</head>

<body>

<div id="main">

    <!-- Header -->
    <div th:replace="header :: #header"></div>

    <!-- Navigation -->
    <div th:replace="navigation :: nav ('cart')"></div>

    <!-- 2 columns (content + sidebar) -->
    <div id="cols" class="box">

        <!-- Content -->
        <div id="content">

            <h3 id="content-title">Kasse</h3>

            <div id="content-in">
                <h4>Übersicht</h4>

               <div th:unless="${cart.empty}">
                <table class="table-style01 alternatRows">
                    <thead>
                    <tr>

                        <th scope="col">Produkt</th>
                        <th scope="col">Anzahl</th>
                        <th scope="col">Preis</th>
                    </tr>
                    </thead>
                    <tbody th:remove="all-but-first">
                    <tr th:each="cartitem : ${cart}">

                        <td th:text="${cartitem.productName}">FujiFilm FinePix F100fd</td>
                        <td th:text="${cartitem.quantity}">42</td>
                        <td th:text="${T(geekshop.model.GSProduct).moneyToString(cartitem.price)}">209,19 EUR</td>
                    </tr>
                    </tbody>

                    <tfoot>
                    <tr>
                        <td th:unless="${session.isReclaim}" colspan="2" class="t-right">Gesamt:</td>
                        <td th:if="${session.isReclaim}" colspan="2" class="t-right">Wird zurück gezahlt:</td>
                        <td th:text="${T(geekshop.model.GSProduct).moneyToString(cart.price)}">269,47 EUR</td>
                    </tr>
                    </tfoot>
                </table>

                <form th:unless="${session.isReclaim}" method="post" id="buyit" th:action="@{/buy}" style="display: inline-block; float: left">

                    <div th:unless="${session.isReclaim}">
                    <label for="payment">Zahlmethode:</label><br/>

                    <select name="payment" id="payment">
                        <option th:each="p : ${T(geekshop.model.PaymentType).values()}"
                                th:value="${p}" th:text="${p.value}"
                                th:selected="${p == payment}"></option>
                    </select></div>

                    <br/>
                    <br/>

                    <input type="submit" class="myButton" value="kaufen" id="checkout"
                 style="margin-left: 1%"/>
                </form>


                   <form th:if="${session.isReclaim}" method="post" id="reclaimit" th:action="@{/reclaimrequest}" style="display: inline-block; float: left">

                        <input type="hidden" name="orderNumber" th:value="${orderNumber} ? ${T(geekshop.model.GSOrder).longToString(orderNumber)}"/>
                       <input type="submit" class="myButton" value="Reklamationsanfrage abschicken" id="reclaimrequest"
                              style="margin-left: 1%"/>
                   </form>



                   </div>
               <p th:if="${cart.empty}">Nichts zu zeigen</p>
            </div>  <!--/content-in-->

            <hr class="noscreen"/>


        </div>
        <!-- /content -->

        <hr class="noscreen"/>


    </div>
    <!-- /cols -->


    <hr class="noscreen"/>


</div>
<!-- /main -->


</body>
</html>