<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Geek-Shop Think NERD</title>
    <link th:replace="header :: main-css"/>
    <link th:replace="header :: scheme-css"/>
    <link th:replace="header :: print-css"/>
</head>

<body>

<div id="main">

    <!-- Header -->
    <div th:replace="header :: #header"></div>

    <!-- Navigation -->
    <div th:replace="navigation :: nav ('range')"></div>

    <!-- 2 columns (content + sidebar) -->
    <div id="cols" class="box">

        <!-- Content -->
        <div id="content">

            <h3 id="content-title"
                th:text="(${super} ? 'Kategorie »' + ${super.name} + '« bearbeiten' : 'Kategorie hinzufügen')">Kategorie</h3>

            <div id="content-in">

                <form th:action="${#httpServletRequest.requestURI}" method="post">
                    <table class="table-style01 t-left noborder">
                        <tr>
                            <td style="width:40px;">
                                <label for="name" class="highlight">Name:</label>
                            </td>
                            <td>
                                <input name="name" id="name" type="text" size="30"
                                       th:value="${name}" required="required" th:classappend="${nameError} ? 'fieldError'"/>

                                <p th:if="${nameError}" class="errorMsg" th:text="${nameError}">Fehler</p>
                            </td>

                        </tr>

                    </table>
                    <button type="submit" name="save" id="save" class="myButton">Speichern</button>
                    <a th:href="@{/range}" class="myButton f-right">Zurück</a>
                </form>

            </div>
            <!-- /content-in -->

            <hr class="noscreen"/>


        </div>
        <!-- /content -->

        <hr class="noscreen"/>


    </div>
    <!-- /cols -->

    <div id="cols-bottom"></div>

    <hr class="noscreen"/>

    <!-- Footer -->
    <!--<div id="footer">


    </div>-->
    <!-- /footer -->

</div>
<!-- /main -->


</body>
</html>
