<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Geek-Shop Think NERD</title>
    <link th:replace="header :: main-css"/>
    <link th:replace="header :: scheme-css"/>
    <link th:replace="header :: print-css"/>
</head>

<body>

<div id="main">

    <!-- Header -->
    <div th:replace="header :: #header"></div>

    <!-- Navigation -->
    <div th:replace="navigation :: nav ('range')"></div>

    <!-- 2 columns (content + sidebar) -->
    <div id="cols" class="box">

        <!-- Content -->
        <div id="content">

            <h3 id="content-title"
                th:text="(${product} ? 'Artikel ' + ${product.name} + ' bearbeiten' : 'Artikel hinzufügen')">Artikel</h3>

            <div id="content-in">

                <form th:action="(${product} ? '/range/editproduct' : '/range/addproduct')" method="post">
                    <table class="table-style01 t-left noborder">
                        <tr>
                            <td>
                                <label for="productName" class="highlight">Artikel:</label>
                            </td>
                            <td th:with="productName = (${product} ? ${product.name})">
                                <p th:if="${!isNew}" th:text="${productName}"></p>
                                <input name="productName" id="productName" type="text" size="30" maxlength="30"
                                       value="Artikel" th:value="${productName}"
                                       required="required"/>
                            </td>

                            <td>
                                <label for="price" class="highlight">Preis in Euro:</label>
                            </td>
                            <td th:with="price = (${product} ? ${product.moneyToString(product.getPrice())})">
                                <p th:if="${!isNew}" th:text="${price}"></p>
                                <input name="price" id="price" type="text" size="30" maxlength="30"
                                       value="10" th:value="${price}"
                                       th:disabled="${user}"/>
                            </td>
                        </tr>
                        <tr>

                            <td class="indent">
                                <label for="superCategory" class="highlight">Kategorie:</label>
                            </td>
                            <td th:with="superCategory = (${product} ? ${product.subCategory.getSuperCategory()})">
                                <p th:if="${!isNew}" th:text="${superCategory.name}"></p>
                                <select name="superCategory" id="superCategory" size="20" required="required">
                                    <option th:each="super : ${superCategories}"
                                            th:value="${super}" th:text="${super.name}"
                                            th:selected="${superCategory == super}"></option>
                                </select>
                            </td>


                            <td class="indent">
                                <label for="subCategory" class="highlight">Unterkategorie:</label>
                            </td>
                            <td th:with="subCategory = (${product} ? ${product.subCategory.name})">
                                <p th:if="${!isNew}" th:text="${subCategory}"></p>
                                <input name="subCategory" id="subCategory" type="text" size="30" maxlength="40"
                                       value="Unterkategorie" th:value="${subCategory}"
                                       required="required"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="indent">
                                <label for="articleNumber" class="highlight">Artikelnummer:</label>
                            </td>
                            <td th:with="articleNumber = (${product} ? ${product.productNumber})">
                                <p th:if="${!isNew}" th:text="${articleNumber}"></p>
                                <input th:if="${isNew}" name="articleNumber" id="articleNumber" type="number" size="1" maxlength="40"
                                        value="1"
                                       required="required"/>
                            </td>
                        </tr>
                    </table>
                    <input th:value="${product} ? ${product.identifier}" type="hidden" name="productId"/>
                    <button type="submit" name="save" id="save" class="myButton">Speichern
                    </button>
                    <a th:href="@{/range}" class="myButton">Zurück</a>
                </form>

            </div>
            <!-- /content-in -->

            <hr class="noscreen"/>


        </div>
        <!-- /content -->

        <hr class="noscreen"/>


    </div>
    <!-- /cols -->

    <div id="cols-bottom"></div>

    <hr class="noscreen"/>

    <!-- Footer -->
    <!--<div id="footer">


    </div>-->
    <!-- /footer -->

</div>
<!-- /main -->


</body>
</html>
