<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Geek-Shop Think NERD</title>
    <link rel="stylesheet" media="screen,projection" type="text/css" th:href="@{/resources/css/main.css}" th:fragment="main-css"/>
    <link rel="stylesheet" media="screen,projection" type="text/css" th:href="@{/resources/css/scheme.css}" th:fragment="scheme-css"/>
    <link rel="stylesheet" media="screen,projection" type="text/css" th:href="@{/resources/css/style.css}" th:fragment="style-css"/>
    <link rel="stylesheet" media="screen,projection" type="text/css" th:href="@{/resources/css/tree.css}" th:fragment="tree-css"/>
    <link rel="stylesheet" media="print" type="text/css" th:href="@{/resources/css/print.css}" th:fragment="print-css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" th:fragment="jquery-js"></script>
    <script type="text/javascript" th:src="@{/resources/js/selectAll.js}" th:fragment="selectAll-js"></script>
    <script type="text/javascript" th:src="@{/resources/js/modernizr.custom.63321.js}" th:fragment="modernizr-js"></script>
    <script type="text/javascript" th:src="@{/resources/js/jquery.tablesorter.js}" th:fragment="tablesorter-js"></script>
</head>

<body>

    <!-- Header -->
    <div id="header">

        <!-- Logo -->
        <h1 id="logo"><a href="#">Geek-Shop <span>Think NERD</span></a></h1>
        <hr class="noscreen" />

        <!-- Slogan -->
        <div id="slogan" th:text="${#authentication?.name != 'anonymousUser' ? #authentication?.name : 'SWT-Praktikum Gruppe 30'}">SWT-Praktikum Gruppe 30</div>
        <hr class="noscreen" />

        <!-- Hidden navigation -->
        <p class="noscreen noprint"><em>Quick links: <a href="#content">content</a>, <a href="#nav">navigation</a>.</em></p>
        <hr class="noscreen" />

    </div> <!-- /header -->

</body>
</html>