<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Geek-Shop Think NERD</title>
    <link rel="stylesheet" media="screen,projection" type="text/css" href="resources/css/main.css" />
    <link rel="stylesheet" media="screen,projection" type="text/css" href="resources/css/scheme.css" />
    <link rel="stylesheet" media="print" type="text/css" href="resources/css/print.css" />
</head>

<body>

    <!-- Header -->
    <div id="header">

        <!-- Logo -->
        <h1 id="logo"><a href="#">Geek-Shop <span>Think NERD</span></a></h1>
        <hr class="noscreen" />

        <!-- Slogan -->
        <div id="slogan">SWT-Praktikum Gruppe 30</div>
        <hr class="noscreen" />

        <!-- Hidden navigation -->
        <p class="noscreen noprint"><em>Quick links: <a href="#content">content</a>, <a href="#nav">navigation</a>.</em></p>
        <hr class="noscreen" />

    </div> <!-- /header -->

</body>
</html>