<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="resources/css/style.css" />
    <link rel="stylesheet" media="screen,projection" type="text/css" href="resources/css/main.css" />
    <link rel="stylesheet" media="screen,projection" type="text/css" href="resources/css/scheme.css" />
    <script src="resources/js/modernizr.custom.63321.js"></script>
</head>
<body>
<!--<div class="container">-->

    <div id="main">

        <!-- Header -->
        <div th:replace="header :: #header"></div>

        <div id="nav">
            <ul class="box">
                <li id="nav-active"><a href="#" style="width:100px">Login</a></li>
            </ul>

            <hr class="noscreen" />
        </div>

        <section class="main">
            <form method="post" class="form-1" id="form" th:action="@{/login}">
                <p class="field">
                    <input name="username" id="username" type="text" placeholder="Benutzername"/>
                    <i class="icon-user icon-large"></i>
                </p>
                <p class="field">
                    <input name="password" id="password" type="password" placeholder="Passwort" />
                    <i class="icon-lock icon-large"></i>
                </p>
                <p class="submit">
                    <button type="submit" name="submit" th:value="#{index.form.login}" value="Login"><i class="icon-arrow-right icon-large"></i></button>
                </p>
            </form>
        </section>
    </div>
<!--</div>-->
</body>
</html>