<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Geek-Shop Think NERD</title>
    <link rel="stylesheet" media="screen,projection" type="text/css" href="resources/css/main.css" />
    <link rel="stylesheet" media="screen,projection" type="text/css" href="resources/css/scheme.css" />
    <link rel="stylesheet" media="print" type="text/css" href="css/print.css" />
</head>

<body>

<div id="main">

    <!-- Header -->
    <div th:replace="header :: #header"></div>

    <!-- Navigation -->
    <div th:replace="navigation :: nav ('main')"></div>

    <!-- 2 columns (content + sidebar) -->
    <div id="cols" class="box">

        <!-- Content -->
        <div id="content">

            <h2 id="content-title">Hier dein Witz</h2>

            <!-- Perex -->
            <div id="perex" class="box">

                <p>
                Frau: „Ich habe das neuste Windows-System.“<br/>
                Berater: „Ja, und?“<br/>
                Frau: „Ich habe da ein Problem.“<br/>
                Berater: „Ja, aber das haben Sie doch bereits gesagt.“
                </p>

            </div> <!-- /perex -->

            <hr class="noscreen" />



        </div> <!-- /content -->

        <hr class="noscreen" />

        <!-- Sidebar -->
        <!--<div id="aside">-->

            <!-- News -->
        <!--<h4 id="aside-title">Warenkorb</h4>

        <div class="aside-in">
            <div class="aside-box">

                <dl id="news">

                </dl>

            </div>--> <!-- /aside-box -->
        <!--</div>--> <!-- /aside-in -->





        <!--</div>--> <!-- /aside -->

    </div> <!-- /cols -->

    <div id="cols-bottom"></div>

    <hr class="noscreen" />

    <!-- Footer -->
    <!--<div id="footer">





    </div>--> <!-- /footer -->

</div> <!-- /main -->

</body>
</html>