<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Geek-Shop Think NERD</title>
    <link rel="stylesheet" media="screen,projection" type="text/css" href="resources/css/main.css"/>
    <link rel="stylesheet" media="screen,projection" type="text/css" href="resources/css/scheme.css"/>
    <link rel="stylesheet" media="print" type="text/css" href="resources/css/print.css"/>
</head>

<body>

<div id="main">

    <!-- Header -->
    <div th:replace="header :: #header"></div>

    <!-- Navigation -->
    <div th:replace="navigation :: nav ('messages')"></div>

    <!-- 2 columns (content + sidebar) -->
    <div id="cols" class="box">

        <!-- Content -->
        <div id="content">

            <h3 id="content-title">Benachrichtigungen</h3>

            <div id="content-in">


                <div th:each="message : ${ownermessage}">
                <table class="table-style01 alternatRows">
                    <tr style="background: #EFEFEF; border-color: #EFEFEF;">
                        <td th:utext="${message.messageText}">Hans hat seine Daten geändert.  </td>
                        <td style="width: 100px;"><p><button id="tocart" class="myButton" style="margin-left: 1%">ansehen</button></p>
                            <p><button id="tocart2" class="myButton" style="margin-left: 1%">löschen</button></p> </td>
                    </tr>
                </table>
                </div>

            </div>

            <hr class="noscreen"/>


        </div>
        <!-- /content -->

        <hr class="noscreen"/>


    </div>
    <!-- /cols -->

    <div id="cols-bottom"></div>

    <hr class="noscreen"/>

    <!-- Footer -->
    <!--<div id="footer">

    </div>-->
    <!-- /footer -->

</div>
<!-- /main -->


</body>
</html>
