<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Geek-Shop Think NERD</title>
    <link rel="stylesheet" media="screen,projection" type="text/css" href="resources/css/main.css" />
    <link rel="stylesheet" media="screen,projection" type="text/css" href="resources/css/scheme.css" />
    <link rel="stylesheet" media="print" type="text/css" href="resources/css/print.css" />
</head>

<body>

    <!-- Navigation -->
    <div th:fragment="nav (page)" id="nav">

        <ul class="box">
            <!--<li id="nav-active"><a>Begrüßung</a></li>-->
            <li th:attr="id=(${page == 'catalog'} ? 'nav-active' : null)" ><a th:href="@{catalog}" style="width:11%">Artikelsuche</a></li>
            <li th:attr="id=(${page == 'reclaim'} ? 'nav-active' : null)"><a th:href="@{reclaim}" style="width:11%">Reklamation</a></li>
            <li th:attr="id=(${page == 'cart'} ? 'nav-active' : null)"><a th:href="@{cart}" style="width:10%">Warenkorb</a></li>
            <li sec:authorize="hasRole('ROLE_OWNER')" th:attr="id=(${page == 'staff'} ? 'nav-active' : null)"><a th:href="@{staff}" style="width:9%">Personal</a></li>
            <li sec:authorize="hasRole('ROLE_OWNER')" th:attr="id=(${page == 'jokes'} ? 'nav-active' : null)"><a th:href="@{jokes}" style="width:8%">Witze</a></li>
            <li sec:authorize="hasRole('ROLE_OWNER')" th:attr="id=(${page == 'messages'} ? 'nav-active' : null)"><a th:href="@{messages}" style="width:17%">Benachrichtigungen</a></li>
            <li th:attr="id=(${page == 'profile'} ? 'nav-active' : null)"><a th:href="@{profile}" style="width:10%">Mein Profil</a></li>
            <li ><a th:href="@{logout}" style="width:8%">Logout</a></li>
        </ul>

        <hr class="noscreen" />
    </div>

</body>
</html>