<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Geek-Shop Think NERD</title>
    <link th:replace="header :: main-css"/>
    <link th:replace="header :: scheme-css"/>
    <link th:replace="header :: print-css"/>
</head>

<body>

<div id="main">

    <!-- Header -->
    <div th:replace="header :: #header"></div>

    <!-- Navigation -->
    <div th:replace="navigation :: nav ('orders')"></div>

    <div id="cols" class="box">

        <!-- Content -->
        <div id="content">

            <h3 id="content-title">Bisherige Verkäufe</h3>

            <div id="content-in">

                <table class="table-style01" th:each="gsProductOrders : ${orders}">
                    <tr>
                        <th style="width:6em">Datum</th>
                        <th>Verkäufer</th>
                        <th style="width:4em">Anzahl</th>
                        <th style="width:6em">Gesamtpreis</th>
                        <!--<th style="width:5em">Reklamation</th>-->
                    </tr>
                    <tr class="highlight">
                        <td class="t-left" colspan="2" th:text="${gsProductOrders.key.name}">PRODUKTNAME</td>
                        <td th:text="${gsProductOrders.value.totalQuantity}">GESAMTANZAHL</td>
                        <td th:text="${gsProductOrders.value.totalPrice}">GESAMTPREIS</td>
                    </tr>

                    <tr th:each="gsProductOrder : ${gsProductOrders.value.productOrders}">
                        <td th:text="${gsProductOrder.date}">DATUM</td>
                        <td th:text="${gsProductOrder.seller.userAccount.identifier}">VERKÄUFER</td>
                        <td th:text="${gsProductOrder.orderLine.quantity.amount}">ANZAHL</td>
                        <td th:text="${gsProductOrder.orderLine.price}">PREIS</td>
                        <!--<td>nein</td>-->
                    </tr>
                </table>

                <button id="exportXml" class="myButton">Als XML exportieren</button>

            </div>

            <hr class="noscreen"/>


        </div>
        <!-- /content -->

        <hr class="noscreen"/>


    </div>
    <!-- /cols -->

    <div id="cols-bottom"></div>

    <hr class="noscreen"/>

    <!-- Footer -->
    <!--<div id="footer">


    </div>-->
    <!-- /footer -->

</div>
<!-- /main -->


</body>
</html>
