<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Geek-Shop Think NERD</title>
    <link th:replace="header :: main-css"/>
    <link th:replace="header :: scheme-css"/>
    <link th:replace="header :: print-css"/>
</head>

<body>

<div id="main">

    <!-- Header -->
    <div th:replace="header :: #header"></div>

    <!-- Navigation -->
    <div th:replace="navigation :: nav ('orders')"></div>

    <div id="cols" class="box">

        <!-- Content -->
        <div id="content">

            <h3 th:if="${session.overview}==true" id="content-title">Übersicht der Bestellung</h3>
            <h3 th:if="${session.overview}==false" id="content-title">Übersicht der Reklamation</h3>

            <div id="content-in">

                <p th:if="${session.overview}">Rechnungsnummer ihrer Bestellung: </p>
                <p th:if="${session.overview}==false">Rechnungsnummer ihrer Reklamationsanfrage: </p><div th:text="${T(geekshop.model.GSOrder).longToString(order.orderNumber)}"></div>
                <p th:if="${session.overview}">Gekauft am:  </p>
                <p th:if="${session.overview}==false">Datum:  </p><div th:text="${order.dateCreated.toString()}"></div>
                <p th:if="${session.overview}==false">Reklamation bezogen auf Rechnungsnummer:  </p><div th:text="${T(geekshop.model.GSOrder).longToString(order.reclaimedOrder.orderNumber)}"></div>
                <p th:if="${session.overview}">Zahlmethode:  <div th:if="${order.paymentMethod.toString()=='Cash'}">Barzahlung</div>
                <div th:if="${order.paymentMethod.toString()=='Cheque'}">Lastschriftverfahren</div>
                <div th:if="${order.paymentMethod.getClass().toString()=='class org.salespointframework.payment.CreditCard'}">Kreditkarte</div>

                </p>
                <table class="table-style01">
                    <thead>
                    <tr>

                        <th style="width:16em">Produkt</th>
                        <th style="width:8em">Anzahl</th>
                        <th style="width:8em">Preis</th>

                    </tr>
                    </thead>

                    <tbody>

                    <tr th:each="orderline : ${order.orderLines}">
                        <td th:text="${orderline.productName}">USB-Ventilator</td>
                        <td th:text="${orderline.quantity.amount}">2</td>
                        <td th:text="${T(geekshop.model.GSProduct).moneyToString(orderline.price)}">15 EUR</td>
                    </tr>

                    </tbody>

                    <tfoot>
                    <tr>
                        <td th:if="${session.overview}==true" colspan="2" class="t-right">Gesamtpreis:</td>
                        <td th:if="${session.overview}==false" colspan="2" class="t-right">Wird zurück gezahlt:</td>
                        <td th:text="${T(geekshop.model.GSProduct).moneyToString(order.totalPrice)}">269,47 EUR</td>
                    </tr>
                    </tfoot>

                </table>


            </div>

            <hr class="noscreen"/>


        </div>
        <!-- /content -->

        <hr class="noscreen"/>


    </div>
    <!-- /cols -->

    <div id="cols-bottom"></div>

    <hr class="noscreen"/>

    <!-- Footer -->
    <!--<div id="footer">


    </div>-->
    <!-- /footer -->

</div>
<!-- /main -->


</body>
</html>
