<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Geek-Shop Think NERD</title>
    <link th:replace="header :: main-css"/>
    <link th:replace="header :: scheme-css"/>
    <link th:replace="header :: print-css"/>
    <link th:replace="header :: tree-css"/>
    <script th:replace="header :: jquery-js"></script>
    <script th:replace="header :: tablesorter-js"></script>
    <script>
        $(document).ready(function () {
            $(".expand").click(function (e) {
                $(this).toggleClass("expanded");
                $(this).children("ul:first").slideToggle("300");
                e.stopPropagation();
            });
            $("#searchTable").tablesorter();
        }); //$(document).ready
    </script>
</head>

<body>

<div id="main">

    <!-- Header -->
    <div th:replace="header :: #header"></div>

    <!-- Navigation -->
    <div th:replace="navigation :: nav ('productsearch')"></div>

    <!-- 2 columns (content + sidebar) -->
    <div id="cols" class="box">

        <!-- Content -->
        <div id="content">

            <h3 id="content-title">Artikelsuche</h3>

            <div id="content-in">

                <div style="width: 195px; border: 4px solid #02AAFC; border-radius: 6px;
                float:left; height: 100%; padding-left: 10px;">
                    <ul class="ul-style01" th:each="superCategory: ${superCategories}">

                        <li><h5 th:text="${superCategory.name}">Kleidung für Nerds</h5>
                            <ul th:each="subCategory: ${superCategory.subCategories}">
                                <li><a th:href="'/productsearch/' + ${subCategory.name}" th:text="${subCategory.name}">T-Shirts</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>


                <div style="width: 620px;
                float:right; height: 100%; padding-left: 10px;">


                    <form method="post" th:action="${'/extendedsearch'}">
                        <input value="suchen" th:value="${suchen}" name="suchen" id="suchen" type="text" size="15" maxlength="40" required="required"/>
                        <button th:action="${'/extendedsearch'}" id="searchCatalog" name="searchCatalog" type="submit">suchen</button>
                    </form>

                    <label>sortieren nach</label>
                    <select name="sortieren" id="sortieren">
                        <option selected="selected">Name</option>
                        <option>Preis aufsteigend</option>
                        <option>Preis absteigend</option>
                        <option>Artikelnummer</option>
                    </select>

                    <table id="searchTable" class="table-style01 alternatRows">
                        <thead>
                        <tr>
                            <th>Artikel</th>
                            <th>Artikelnummer</th>
                            <th>Anzahl</th>
                            <th>Stückpreis</th>
                            <th>in den Warenkorb</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${catalog}">
                            <form method="post" th:action="@{/cart}">
                                <td th:text="${product.name}">Digitalkamera</td>
                                <td th:text="${product.geekID}">12345678</td>
                                <td><input type="number" name="number" value="1" min="1" max="5"/></td>
                                <td class="{sorter:'currency'}" th:text="${product.stringPrice}">123 €</td>
                                <td>
                                    <input type="hidden" name="pid" th:value="${product.identifier}"/>
                                    <button id="tocart" name="tocart" type="submit">+</button>
                                </td>
                            </form>
                        </tr>
                        </tbody>
                    </table>

                </div>


            </div>
            <!--/content-in -->

        </div>
        <!-- /content -->

        <hr class="noscreen"/>


    </div>
    <!-- /cols -->

    <div id="cols-bottom"></div>

    <hr class="noscreen"/>

    <!-- Footer -->
    <!--<div id="footer">

    </div>-->
    <!-- /footer -->

</div>
<!-- /main -->


</body>
</html>
