<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Geek-Shop Think NERD</title>
    <link th:replace="header :: main-css"/>
    <link th:replace="header :: scheme-css"/>
    <link th:replace="header :: print-css"/>
    <link th:replace="header :: tree-css"/>
    <script th:replace="header :: jquery-js"></script>
    <script th:replace="header :: tablesorter-js"></script>
    <script>
        $(window).load(function(){
            preload([
                '/resources/images/cart.png',
                '/resources/images/cart-add.png'
            ]);
        });

        $(document).ready(function () {
            $(".expand").click(function (e) {
                $(this).toggleClass("expanded");
                $(this).children("ul:first").slideToggle("300");
                e.stopPropagation();
            });
            $("#searchTable").tablesorter();
        }); //$(document).ready

        function preload(arrayOfImages) {
            $(arrayOfImages).each(function(){
                (new Image()).src = this;
            });
        }
    </script>
</head>

<body>

<div id="main">

    <!-- Header -->
    <div th:replace="header :: #header"></div>

    <!-- Navigation -->
    <div th:replace="navigation :: nav ('productsearch')"></div>

    <!-- 2 columns (content + sidebar) -->
    <div id="cols" class="box">

        <!-- Content -->
        <div id="content">

            <h3 id="content-title">Artikelsuche</h3>

            <div id="content-in">

                <div style="width: 195px; border: 4px solid #02AAFC; border-radius: 6px;
                float:left; height: 100%; padding-left: 10px;">
                    <form method="get" action="/productsearch">
                    <ul class="ul-style01" th:each="superCategory: ${superCategories}">

                        <li><a th:href="'/productsearch/sup_' + ${superCategory.name}"><h5 th:text="${superCategory.name}">Kleidung für Nerds</h5></a>
                            <ul th:each="subCategory: ${superCategory.subCategories}">
                                <li><a th:href="'/productsearch/sub_' + ${subCategory.name}" th:text="${subCategory.name}">T-Shirts</a></li>
                            </ul>
                        </li>

                    </ul>
                    </form>
                </div>


                <div style="width: 620px;
                float:right; height: 100%; padding-left: 10px;">


                    <form method="get" action="/productsearch">
                        <input value="suchen" th:value="${param.searchTerm} ? ${param.searchTerm[0]}" name="searchTerm" id="searchTerm" type="text" size="25" maxlength="40" placeholder="Artikelsuche"/>
                    <label>sortieren nach</label>
                    <select name="sorting" id="sorting">
                        <option value="name" th:selected="${param.sorting} and (${param.sorting[0]} == 'name')">Name</option>
                        <option value="priceasc" th:selected="${param.sorting} and (${param.sorting[0]} == 'priceasc')">Preis aufsteigend</option>
                        <option value="pricedesc" th:selected="${param.sorting} and (${param.sorting[0]} == 'pricedesc')">Preis absteigend</option>
                        <option value="prodnum" th:selected="${param.sorting} and (${param.sorting[0]} == 'prodnum')">Artikelnummer</option>
                    </select>
                        <button id="searchAndSortProducts" type="submit">suchen</button>
                    </form>

                    <table id="searchTable" class="table-style01 alternatRows">
                        <tr>
                            <th>Artikelbezeichnung</th>
                            <th style="width:6em">Artikelnr.</th>
                            <th style="width:6em">Anzahl</th>
                            <th style="width:6em">Stückpreis</th>
                            <th style="width:2em"></th>
                        </tr>

                        <tr th:each="product : ${catalog}">
                            <form method="post" th:action="@{/cart}" th:with="max = ${inventory.findByProductIdentifier(product.identifier).get().quantity.amount}">
                                <td class="t-bold" th:text="${product.name}">Digitalkamera</td>
                                <td th:text="${T(geekshop.model.GSOrder).longToString(product.productNumber)}">12345678</td>
                                <td th:if="${max > 0}"><input type="number" name="number" value="1" min="1" th:max="${max}"/></td>
                                <td th:unless="${max > 0}">&mdash;</td>
                                <td class="sorter:'currency'" th:text="${T(geekshop.model.GSProduct).moneyToString(product.price)}">123 €</td>
                                <td th:if="${max > 0} and !${session.ro}">
                                    <input type="hidden" name="pid" th:value="${product.identifier}"/>
                                    <button id="tocart" name="tocart" type="submit" title="in den Warenkorb" class="cartButton">&nbsp;</button>
                                </td>
                                <td th:unless="${max > 0}"><span class="cartButtonUnavailable" title="Artikel nicht verfügbar"></span></td>
                                <td th:if="${session.ro}"><span class="cartButtonUnavailable" title="Reklamation muss vorher abgeschlossen werden"></span></td>
                            </form>
                        </tr>
                    </table>
                    <p th:if="${session.ro}">Hinweis: Beenden Sie den Reklamationsvorgang.</p>
                </div>


            </div>
            <!--/content-in -->

        </div>
        <!-- /content -->

        <hr class="noscreen"/>


    </div>
    <!-- /cols -->

    <div id="cols-bottom"></div>

    <hr class="noscreen"/>

    <!-- Footer -->
    <!--<div id="footer">

    </div>-->
    <!-- /footer -->

</div>
<!-- /main -->


</body>
</html>
