<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Geek Shop</title>
    <link rel="stylesheet" media="screen,projection" type="text/css" href="resources/css/main.css" />
    <link rel="stylesheet" media="screen,projection" type="text/css" href="resources/css/scheme.css" />
    <link rel="stylesheet" media="print" type="text/css" href="css/print.css" />
</head>

<body>

<div id="main">

    <div id="header">
        <h1 id="logo">Geek Shop <span>Think Nerd</span></h1>
        <hr class="noscreen" />        
        <div id="slogan">SWT-Praktikum Gruppe 30</div>
        <hr class="noscreen" />        
        <p class="noscreen noprint"><em>Quick links: <a href="#content">content</a>, <a href="#nav">navigation</a>.</em></p>
        <hr class="noscreen" />
    </div>

    <div id="nav">
        <ul class="box">
            <li><a th:href="@{main}">Main</a></li>
            <li><a th:href="@{search}">Suche</a></li>
            <li><a>Profil</a></li>
            <li><a th:href="@{reclaim}">Reklamation</a></li>
        </ul>

        <hr class="noscreen" />
    </div>

    <div id="cols" class="box">

        <div id="content">
            <h2 id="content-title">Profil von </h2>
            <hr class="noscreen" />
        </div>
        <hr class="noscreen" />

        <div id="aside">

            <h4 id="aside-title">Warenkorb</h4>
            
            <div class="aside-in">
                <div class="aside-box">

                    <dl id="news">
                        
                    </dl>
                
                </div>
            </div>
            

            
   
        </div>
    
    </div>
    
    <div id="cols-bottom"></div>

    <hr class="noscreen" />
    
    <div id="footer">

    </div>
</div>
</body>
</html>
