<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Geek-Shop Think NERD</title>
    <link th:replace="header :: main-css"/>
    <link th:replace="header :: scheme-css"/>
    <link th:replace="header :: print-css"/>
</head>

<body>

<div id="main">

    <!-- Header -->
    <div th:replace="header :: #header"></div>

    <!-- Navigation -->
    <div th:replace="navigation :: nav ('range')"></div>

    <div id="cols" class="box">

        <!-- Content -->
        <div id="content">

            <h3 id="content-title">Sortimentverwaltung</h3>

            <div id="content-in">

                <table class="table-style01">
                    <thead>
                    <tr>
                        <th colspan="2" style="width:3em">Kategorie</th>
                        <!--<th style="width:8em">Unterkategorie</th>-->
                        <th>Artikel</th>
                        <th style="width:6em">Artikelnr.</th>
                        <th style="width:6em">Bestand</th>
                        <th style="width:6em">Preis</th>
                        <th style="width:15em"></th>
                    </tr>
                    </thead>
                    <tbody th:each="super : ${supercategories}">
                    <tr class="highlight">      <!--Kategorie-->
                        <td class="t-left" colspan="6" th:text="${super.name}">Kleidung</td>
                        <td>
                            <form th:action="@{/range/editsuper/} + ${super.name}"><!-- style="display: inline-block">-->
                                <button class="myButton marginButton">bearbeiten</button>
                            </form>
                            <form th:method="delete" th:action="@{/range/delsuper}"><!-- style="display: inline-block">-->
                                <input name="superName" type="hidden" th:value="${super.name}"/>
                                <button class="myButton">löschen</button>
                            </form>
                        </td>
                    </tr>

                    <tr th:each="sub : ${super.subCategories}">                     <!--Unterkategorie-->

                        <td style="width:3em"></td>
                        <td bgcolor="#E5F4FA" class="t-left t-bold" colspan="5" th:text="${sub.name}">T-Shirts</td>
                        <td bgcolor="#E5F4FA">
                            <form th:action="@{/range/editsub/} + ${sub.name}"><!-- style="display: inline-block">-->
                                <button class="myButton marginButton">bearbeiten</button>
                            </form>
                            <form th:method="delete" th:action="@{/range/delsub}"><!-- style="display: inline-block">-->
                                <input name="subName" type="hidden" th:value="${sub.name}"/>
                                <button class="myButton">löschen</button>
                            </form>
                        </td>
                    <tr th:each="product : ${sub.products}">                        <!--Produkt-->
                        <td colspan="2"></td>
                        <td th:text="${product.name}">Grünes T-Shirt</td>
                        <td th:text="${T(geekshop.model.GSOrder).longToString(product.productNumber)}">1</td>
                        <td th:text="${inventory.findByProductIdentifier(product.identifier).get().quantity.amount}">
                            100
                        </td>
                        <td th:text="${product.moneyToString(product.getPrice())}">10€</td>
                        <td>
                            <form th:action="@{/range/editproduct/} + ${product.identifier}"><!-- style="display: inline-block">-->
                                <button class="myButton marginButton">bearbeiten</button>
                            </form>
                            <form th:method="delete" th:action="@{/range/delproduct}"><!-- style="display: inline-block">-->
                                <input name="productIdent" type="hidden" th:value="${product.getIdentifier()}"/>
                                <button class="myButton">löschen</button>
                            </form>
                        </td>
                    </tr>

                    </tr>


                    </tbody>

                </table>

                <form th:method="get" th:action="@{/range/addsuper}" style="display: inline-block">
                    <button id="addProd" class="myButton">Kategorie hinzufügen</button>
                </form>
                <form th:method="get" th:action="@{/range/addsub}" style="display: inline-block">
                    <button id="addProd" class="myButton">Unterkategorie hinzufügen</button>
                </form>
                <form th:method="get" th:action="@{/range/addproduct}" style="display: inline-block">
                    <button id="addProd" class="myButton">Artikel hinzufügen</button>
                </form>


            </div>

            <hr class="noscreen"/>

        </div>
        <!-- /content -->

        <hr class="noscreen"/>


    </div>
    <!-- /cols -->

    <div id="cols-bottom"></div>

    <hr class="noscreen"/>

    <!-- Footer -->
    <!--<div id="footer">


    </div>-->
    <!-- /footer -->

</div>
<!-- /main -->


</body>
</html>
