<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Geek-Shop Think NERD</title>
    <link th:replace="header :: main-css"/>
    <link th:replace="header :: scheme-css"/>
    <link th:replace="header :: print-css"/>
    <!--<script th:replace="header :: jquery-js"></script>-->
    <!--<script th:replace="header :: selectAll-js"></script>-->
</head>

<body>

<div id="main">

    <!-- Header -->
    <div th:replace="header :: #header"></div>

    <!-- Navigation -->
    <div th:replace="navigation :: nav ('reclaim')"></div>

    <!-- 2 columns (content + sidebar) -->
    <div id="cols" class="box">


        <!-- Content -->
        <div id="content">

            <h3 id="content-title">Reklamation</h3>

            <div id="content-in">

                <form method="get" action="/ordersearch">
                    <input value="suchen" th:value="${suchen}" name="searchordernumber" id="searchordernumber" type="text" size="25" maxlength="40" required="required" placeholder="Rechnungsnummer"/>
                    <button id="searchCatalog" type="submit">suchen</button>
                </form>


                <table class="table-style01">
                    <thead>
                    <tr>

                        <th style="width:16em">Artikel</th>
                        <th style="width:8em">Anzahl</th>
                        <th style="width:8em">Preis</th>
                        <th></th>

                    </tr>
                    </thead>

                    <tbody th:if="${reclaimorder}">

                    <tr th:each="orderline : ${reclaimorder.orderLines}">

                     <td th:text="${orderline.productName}">USB-Ventilator</td>
                     <td th:text="${orderline.quantity.amount}">2</td>
                      <td th:text="${orderline.price}">15 EUR</td>
                    </tr>

                    </tbody>

                </table>

                <button id="toreclaimcart" class="myButton">Bestellung reklamieren</button>


            </div>

            <hr class="noscreen"/>


        </div>
        <!-- /content -->

        <hr class="noscreen"/>


    </div>
    <!-- /cols -->

    <div id="cols-bottom"></div>

    <hr class="noscreen"/>

    <!-- Footer -->
    <!--<div id="footer">

    </div>-->
    <!-- /footer -->

</div>
<!-- /main -->


</body>
</html>
