<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Geek-Shop Think NERD</title>
    <link th:replace="header :: main-css"/>
    <link th:replace="header :: scheme-css"/>
    <link th:replace="header :: print-css"/>
    <!--<script th:replace="header :: jquery-js"></script>-->
    <!--<script th:replace="header :: selectAll-js"></script>-->
</head>

<body>

<div id="main">

    <!-- Header -->
    <div th:replace="header :: #header"></div>

    <!-- Navigation -->
    <div th:replace="navigation :: nav ('reclaim')"></div>

    <!-- 2 columns (content + sidebar) -->
    <div id="cols" class="box">


        <!-- Content -->
        <div id="content">

            <h3 id="content-title">Reklamation</h3>

            <div id="content-in">

                <p th:if="${cart.empty}==false and ${!session.isReclaim}">Hinweis: Der Kaufvorgang muss abgeschlossen sein.</p><br/>

                <form th:if="${session.isReclaim} and ${cart.empty} and ${session.ro}==null" method="get" action="/ordersearch">
                    <input value="suchen" th:value="${suchen}" name="searchordernumber" id="searchordernumber" type="text" size="25" maxlength="40" required="required" placeholder="Rechnungsnummer"/>
                    <button id="searchCatalog" type="submit">suchen</button>
                </form>



                <div th:if="${noorder}">keine Rechnung gefunden</div>
                <div th:if="${alreadyreclaim}">Rechnung ist schon eine Reklamation</div>
                <div th:if="${toolate}">Rechnung liegt nicht mehr innerhalb des 14-Tage-Fensters!</div>
                <div th:if="${canceled}">Rechnung wurde storniert</div>

                <table th:if="${session.ro} " class="table-style01">
                    <thead>
                    <tr>

                        <th style="width:16em">Artikel</th>
                        <th style="width:8em">Anzahl</th>
                        <th style="width:8em">Preis</th>
                        <th>zum Warenkorb</th>

                    </tr>
                    </thead>

                    <tbody >

                      <!--  <tr name="orderNumber" th:text="'OrderNumber: '+${reclaimorder.orderNumber}">666</tr>-->
                    <tr th:each="orderline : ${session.ro.orderLines}">

                        <form method="post" th:action="@{/reclaimcart}">
                     <td th:text="${orderline.productName}">USB-Ventilator</td>
                     <td><input name="rnumber" id="rnumber" min="1" th:max="${orderline.quantity.amount}" th:value="${orderline.quantity.amount}"/></td>
                      <td th:text="${orderline.price}">15 EUR</td>
                        <td> <input type="hidden"  name="orderNumber" th:value="${T(geekshop.model.GSOrder).longToString(session.ro.orderNumber)}"/>
                            <input type="hidden" name="rpid" th:value="${orderline.productIdentifier}"/>
                            <input type="hidden" name="olid" th:value="${orderline.identifier}"/>
                            <button id="toreclaim" name="toreclaimcart" type="submit" title="in den Warenkorb" class="cartButton">+</button></td>
                        </form>
                    </tr>


                    </tbody>



                </table>

                <form th:if="${session.ro}or ${orderNumber} " th:method="post" th:action="@{/alltoreclaimcart}">
                    <input type="hidden"  name="orderNumber" th:value="${session.ro.orderNumber}"/>
                    <button id="toreclaimcart" class="myButton marginButton">gesamte Bestellung zum Warenkorb</button>
                </form>

                <form th:if="${session.ro}or ${orderNumber} " th:method="post" th:action="@{/breakreclaim}">

                    <button id="toreclaimcart" class="myButton marginButton">Abbrechen</button>
                </form>


            </div>

            <hr class="noscreen"/>


        </div>
        <!-- /content -->

        <hr class="noscreen"/>


    </div>
    <!-- /cols -->

    <div id="cols-bottom"></div>

    <hr class="noscreen"/>

    <!-- Footer -->
    <!--<div id="footer">

    </div>-->
    <!-- /footer -->

</div>
<!-- /main -->


</body>
</html>
