<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Geek-Shop Think NERD</title>
    <link rel="stylesheet" media="screen,projection" type="text/css" href="../resources/css/main.css"/>
    <link rel="stylesheet" media="screen,projection" type="text/css" href="../resources/css/scheme.css"/>
    <link rel="stylesheet" media="print" type="text/css" href="../resources/css/print.css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="../resources/js/selectAll.js"></script>
</head>

<body>

<div id="main">

    <!-- Header -->
    <div th:replace="header :: #header"></div>

    <!-- Navigation -->
    <div th:replace="navigation :: nav ('staff')"></div>

    <div id="cols" class="box">

        <!-- Content -->
        <div id="content">

            <h3 id="content-title">Personalverwaltung</h3>

            <div id="content-in">

                <table class="table-style01 alternatRows">

                    <tr>
                        <th><input type="checkbox" id="selectAll"/></th>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>Nutzername</th>
                        <th></th>
                    </tr>

                    <tr th:each="employee : ${staff}">
                        <td align="center"><input type="checkbox" class="case" name="case" th:value="${employee.Id}"/>
                        </td>
                        <td th:utext="${employee.userAccount.firstname}">Steve</td>
                        <td th:utext="${employee.userAccount.lastname}">Jobs</td>
                        <td th:utext="${employee.userAccount.identifier}">Musterstrasse 1</td>
                        <td>
                            <!--<form th:action="@{/staff/} + " th:attr="data-entry-id=${employee.id}">
                                <button class="myButton">Ansehen</button>
                            </form>-->
                            <!--<form th:action="@{/staff}" method="post">
                                <input type="hidden" name="uai" th:value="${employee.userAccount.identifier}"/>
                                <button type="submit" class="myButton">Ansehen</button>
                            </form>-->
                            <a th:href="'staff/' + ${employee.userAccount.identifier}" class="myButton">Ansehen</a>

                            <form th:method="delete" th:action="@{/staff/} + ${employee.userAccount.identifier}"
                                  th:attr="data-entry-id=${employee.id}">
                                <button class="myButton" style="margin-left: 1%">Entlassen</button>
                            </form>
                        </td>
                    </tr>

                </table>

                <form th:action="@{/addemployee}" style="display: inline-block">
                    <button id="employ" class="myButton" type="submit" style="margin-left: 1%; height: 1cm">Einstellen
                    </button>
                </form>

                <form th:action="@{/deletemany}" style="display: inline-block">
                    <button id="dismiss" class="myButton" type="submit" style="margin-left: 1%; height: 1cm">Entlassen
                    </button>
                </form>
                <form th:action="@{/setrules}" style="display: inline-block">
                    <button id="changeRules" class="myButton" type="submit" style="margin-left: 1%; height: 1cm">
                        Passwortregeln
                    </button>
                </form>

            </div>

            <hr class="noscreen"/>


        </div>
        <!-- /content -->

        <hr class="noscreen"/>


    </div>
    <!-- /cols -->

    <div id="cols-bottom"></div>

    <hr class="noscreen"/>

    <!-- Footer -->
    <!--<div id="footer">


    </div>-->
    <!-- /footer -->

</div>
<!-- /main -->


</body>
</html>
