<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Geek-Shop Think NERD</title>
    <link rel="stylesheet" media="screen,projection" type="text/css" href="resources/css/main.css"/>
    <link rel="stylesheet" media="screen,projection" type="text/css" href="resources/css/scheme.css"/>
    <link rel="stylesheet" media="print" type="text/css" href="resources/css/print.css"/>
</head>

<body>

<div id="main">

    <div id="joke">

        <table>
            <tr width="880">
                <th height="60">
                    <h1><p style="color:blue">&#9786; &#9786; &#9786;</p></h1>
                </th>
            <tr width="880">
                <th height="285">
                    <h5>
                        <p style="padding:10px"> Ein Informatiker stellt sich jeden Abend ein volles und ein leeres Glas
                            Wasser neben sein Bett. Warum?
                            – Das volle Glas ist dafür falls er in der Nacht aufwacht und Durst hat.
                            Und das leere Glas ist falls er in der Nacht aufwacht und keinen Durst hat. – Das volle Glas
                            ist dafür falls er in der Nacht aufwacht und Durst hat.
                        </p></h5>
                </th>
            </tr>

            <tr width="880">
                <th>

                    <a href="Suche.html" class="myButton">HAHA</a>

                </th>
            </tr>
        </table>


    </div>
    <!--  </joke>  -->

    <hr class="noscreen"/>

</div>
<!-- /main -->


</body>
</html>
